/**
 * @author: 周靖松
 * @information: 表格批量操作栏样式
 * @Date: 2019-04-15 16:30:12
 */
// 引入按钮样式
@import "../base/btn.scss";

// 表格批量操作页
@mixin batchTable {
  width: 100%;
  border: 1px solid #EBEEF5;
  border-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  .left {
    padding-left:10px;
    .selected-box{
      margin-right: 10px;
      &::after{
        content: "|";
        font-size: 20px;
        padding-left: 20px;
        color: rgb(226, 226, 226);
      }
    }
  }
  //第一个按钮
  .oneBtn {
    margin-left: 10px;
  }
  .right{
    .upload_text{
      margin-left: 8px;
    }
  }
}

// 最终样式
#batchTable {
  height:50px !important;
  // 引入表格批量操作页
  @include batchTable;
}
